.todoContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 30px;

  &__todo {
    .task {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border: 1px solid black;
      border-radius: 15px;
      padding: 0px 5px 0px 5px;
      margin: 3px;

      &__actions {
        margin: 5px;

        &--edit,
        &--delete,
        &--done {
          margin: 0 5px;
          border: none;
          background: white;

          :hover {
            color: green;
          }
        }
      }

      &__text {
        margin: 5px 5px;
      }

      &__text.done {
        text-decoration: line-through;
      }
    }
  }

  .taskToEdit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
    margin: 3px;

    form {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      padding: 0px 5px 0px 5px;
      margin: 3px;

      .editInput {
        border: 1px solid rgb(151, 145, 145);
        border-radius: 15px;
        padding: 0px 5px 0px 5px;
        margin: 3px;
      }
    }
  }
}
